*{
    text-align: center;
}
h1{
    font-family: 'Leckerli One', cursive;
    font-size: 5em;
    color: #005c83;
    font-style: normal;
}
p{
    color: #005c83;
    font-family: 'Leckerli One', cursive;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #005c83 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family: 'Leckerli One', cursive;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
}
.myButton:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}
.myButton:active {
	position:relative;
	top:1px;
}

body{
    background-color: #63b9ee49;
}